.container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  padding: 30px;
}
